 <!-- Contenido principal -->
<div class="main-content">
    <h1>Documentación de la Librería</h1>
    <p>Esta guía detalla cómo integrar y utilizar la librería para abordar casos de uso específicos relacionados con la gestión de vulnerabilidades en el desarrollo de software, enfocándose particularmente en la etapa de construcción.</p>

    <!-- Instalación -->
    <section id="instalacion">
        <h2>Instalación</h2>

        <p>
            Agrega la DLL como referencia
            </p><p>
            1. En el Explorador de soluciones, haz clic derecho en el nodo Referencias del proyecto.
            <ul>
                <li>
                    Si estás usando .NET Core o .NET 5/6+, busca el nodo Dependencias y luego Referencias.
                    
                </li>
            </ul>
        </p>

        <p>2. Selecciona Agregar referencia... en el menú contextual.</p>
        <p>
            3. En la ventana que aparece:
            <ul>
                <li>Haz clic en la pestaña Explorar.</li>
                <li>Navega hasta la ubicación de la DLL.</li>
                <li>Selecciona la DLL y haz clic en Aceptar.</li>
            </ul>
        </p>
        
    </section>
   
</div>
