<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación de la Librería</title>
    <!-- Prism.js CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        /* Estilo del menú lateral */
        .sidebar {
            height: 100vh;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #2c3e50;
            color: #ecf0f1;
            overflow-x: hidden;
            padding-top: 20px;
        }

            .sidebar a {
                padding: 10px 15px;
                text-decoration: none;
                font-size: 18px;
                color: #ecf0f1;
                display: block;
            }

                .sidebar a:hover {
                    background-color: #34495e;
                }

        /* Contenido principal */
        .main-content {
            margin-left: 260px;
            padding: 20px;
        }

        h1, h2 {
            color: #333;
        }

        pre {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <!-- Menú lateral -->
    <div class="sidebar">
        <h2 style="text-align: center;color:white;">Contenido</h2>
        <a href="~/Home/Index">Instalación</a>
        <a href="~/Home/EntradaDatos">Entrada de Datos</a>
        <a href="~/Home/Middleware">Middleware Sanitización</a>
        <a href="~/Home/Archivos">Archivos</a>
        <a href="~/Home/Criptografia">Criptografía</a>
        <a href="~/Home/Versionamiento">Versionamiento</a>
        <a href="~/Home/BuenasPracticas">Buenas prácticas</a>
    </div>



    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container">
            
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Prism.js JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-csharp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bash.min.js"></script>
</body>
</html>
